# Virtual Environment
venv/
venv-dev/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Local data
data/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Vector database files
vector_db/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Test coverage
.coverage
htmlcov/
coverage.xml 